@import "tailwindcss";

:root {
  --background: hsl(215, 30%, 91%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-serif: var(--font-lora);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
[data-theme="dark"] {
  --background: #1c1a16;
  --foreground: hsl(40, 24%, 93%);
}

body {
  background: var(--background);
  color: var(--foreground);
}
